[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
django-extensions = "*"
pyserial = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-mock = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pre-commit-hooks = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.13.5"
