[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = ">=4.2.2"
django = ">=6.0.6"
djangorestframework = ">=3.17.1"
django-filter = ">=25.2"
django-cors-headers = ">=4.9.0"
pyserial = ">=3.5"
requests = ">=2.34.2"
tzdata = ">=2026.2"
django-rest-knox = ">=5.0.4"
jsonschema = ">=4.26.0"

[dev-packages]
django-extensions = "*"
pytest = ">=9.0.3"
pytest-django = ">=4.12.0"
pytest-xdist = ">=3.8.0"
pytest-mock = ">=3.15.1"
black = ">=26.3.1"
flake8 = ">=7.3.0"
isort = ">=7.0.0"
pre-commit = ">=4.6.0"
pre-commit-hooks = ">=6.0.0"
coverage = {version = ">=7.13.0", extras = ["toml"]}
pytest-cov = ">=7.0.0"
drf-spectacular = ">=0.29.0"
colorama = ">=0.4.6"

[requires]
python_version = "3.13.5"

[scripts]
update_dep = "python update_dependencies.py"
server = "python manage.py runserver"
migrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
shell = "python manage.py shell_plus"
