[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daphne = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
django-extensions = "*"
pyserial = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-mock = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pre-commit-hooks = "*"
coverage = "*"
pytest-cov = "*"
drf-spectacular = "*"

[requires]
python_version = "3.13.5"

[scripts]
update_dep = "python update_dependencies.py"
server = "python manage.py runserver"
migrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
shell = "python manage.py shell_plus"
