-i https://pypi.org/simple
asgiref==3.9.1; python_version >= '3.9'
attrs==25.3.0; python_version >= '3.8'
autobahn==24.4.2; python_version >= '3.9'
automat==25.4.16; python_version >= '3.9'
cffi==2.0.0; python_version >= '3.9'
constantly==23.10.4; python_version >= '3.8'
cryptography==45.0.7; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
daphne==4.2.1; python_version >= '3.9'
django==5.2.6; python_version >= '3.10'
django-cors-headers==4.8.0; python_version >= '3.9'
django-extensions==4.1; python_version >= '3.9'
django-filter==25.1; python_version >= '3.9'
djangorestframework==3.16.1; python_version >= '3.9'
hyperlink==21.0.0
idna==3.10; python_version >= '3.6'
incremental==24.7.2; python_version >= '3.8'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==2.23; python_version >= '3.8'
pyopenssl==25.2.0; python_version >= '3.7'
pyserial==3.5
service-identity==24.2.0; python_version >= '3.8'
setuptools==80.9.0; python_version >= '3.9'
sqlparse==0.5.3; python_version >= '3.8'
twisted[tls]==25.5.0; python_full_version >= '3.8.0'
txaio==25.6.1; python_version >= '3.10'
typing-extensions==4.15.0; python_version >= '3.9'
zope-interface==8.0; python_version >= '3.9'
